/* General Reset */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    line-height: 1.6;
  }
  
  /* Welcome Section */
  .welcome {
    position: relative;
    background: url('../media/landing page img.webp') no-repeat center center/cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  
  .welcome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurecer fondo */
    z-index: 1;
  }
  
  .welcome-content {
    position: relative;
    z-index: 2; /* Traer el texto al frente */
  }
  
  .welcome-content h1 {
    font-size: 4rem; /* Más grande el título */
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra al texto */
  }
  
  .welcome-content p {
    font-size: 1.5rem; /* Más grande el párrafo */
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra al texto */
  }
  
  .welcome-content button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #6e4229;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .welcome-content button:hover {
    background-color: #1e3358;
  }


/* FORMULARIO*/  

  .formilario{
    display: flex;
    max-width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .form-column {
    display: flex;
    flex-direction: column;
  }

  .form-text {
    flex: 1;
    padding: 20px;
  }

  form {
    flex: 1;
    padding: 20px;
    background: #e9ecef;
    border-radius: 10px;
    text-align: left;
  }



  form label {
      display: block;
      font-size: 1rem;
      color: #333;
      margin-bottom: 0.5rem;
  }

  form input, form textarea {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      background-color: #fff;
      box-sizing: border-box;
      transition: border-color 0.3s ease;
      text-align: left;
  }

  form input:focus, form textarea:focus {
      border-color: #333;
      outline: none;
  }

  form button {
      display: block;
      width: 100%; 
      padding: 0.8rem;
      font-size: 1.2rem;
      color: white;
      background-color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  form button:hover {
      background-color: #bc45cc;
  }


  
  /* Section Styles */
  .section {
    padding: 2rem;
    text-align: center;
  }
  
  .noticias {
    background-color: #ffeedf;
    color: #000;
  }
  
  .informacion {
    background-color: rgb(255, 252, 250);
    color: #333;
  }
  
  .section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .section p {
    font-size: 1.1rem;
  }



/* Contenedor de la sección */
.informacion-container {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 40px 50px;
}

/* Título */
.informacion-descripcion h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #75451e; 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  text-align: left;
}

/* Texto descriptivo */
.informacion-descripcion p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  margin-right: 2rem;
  color: #333;
  text-align: justify;
}

/* Carrusel */
.informacion-carrusel {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carrusel .slide {
  display: none;
  width: 100%;
  height: 100%;
}

.carrusel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.carrusel .slide.active {
  display: block;
}

/* Botones del carrusel */
.carrusel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carrusel button:hover {
  background: #3498db;
}

.carrusel .prev-btn {
  left: 10px;
}

.carrusel .next-btn {
  right: 10px;
}





/* Estilo de Noticias */
.noticias-container {
  display: flex;
  gap: 20px;
  background-color: rgba(50, 25, 25, 0.9); /* Fondo semi-transparente */
  padding: 30px; /* Márgenes más grandes */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  align-items: center; /* Centra verticalmente los elementos */
}

.noticias-imagen {
  flex: 1; /* Ocupa el mismo espacio que el texto */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.noticias-imagen img {
  width: 100%; /* Ajusta el tamaño al contenedor */
  max-width: 550px; /* Máximo tamaño de la imagen */
  border-radius: 10px;
}

.noticias-lista {
  color: white;
  flex: 2; /* Da más espacio al texto */
}

.noticias-lista h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #f2c94c; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  text-align: left;
}

.noticias-lista ul {
  list-style: none;
  padding: 0;
}

.noticias-lista ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.noticias-lista ul li a {
  color: white;
  text-decoration: none;
  flex: 1;
  text-align: left;
}

.noticias-lista ul li a:hover {
  color: #f2c94c; /* Efecto hover en dorado */
}

.noticias-lista ul li span {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
}

.noticias-mas {
  margin-top: 15px;
  padding: 15px 30px;
  color: white;
  background-color: #316080; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.noticias-mas:hover {
  background-color: #9a36a5;
}

/* Estilos para el footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 10px 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}




@media (max-width: 900px) {
    .welcome-content h1 {
        font-size: 2.5rem;
    }

    .welcome-content p {
        font-size: 1.2rem;
    }

    .informacion-container {
        flex-direction: column;
        padding: 20px;
    }

    .informacion-carrusel {
        width: 100%;
    }

    .noticias-container {
        flex-direction: column;
    }

    .noticias-imagen img {
        max-width: 100%;
    }

    .noticias-lista {
        padding: 20px;
    }

    .form-column {
        padding: 10px;
    }
}

/* Para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    .welcome-content h1 {
        font-size: 2rem;
    }

    .welcome-content p {
        font-size: 1rem;
    }

    .informacion-descripcion h2 {
        font-size: 2rem;
    }

    .informacion-descripcion p {
        font-size: 1rem;
    }

    form input, form textarea {
        font-size: 0.9rem;
    }

    .footer-content {
        padding: 10px;
    }

    .footer p {
        font-size: 12px;
    }
}