* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3e6de; /* Color de fondo base */
    background: url('../media/zonas.webp') center center / cover no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Capa oscura */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura */
    z-index: -1;
}

header {
    margin-bottom: 5rem;
}

h1 {
    font-size: 36px;
    color: #ffffff; /* Tono marrón oscuro */
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 18px;
    color: #5c4734; /* Tono marrón claro */
    text-align: center;
}

/* Botón de Configuración */
.config-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #4b3621; /* Marrón oscuro */
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.config-btn:hover {
    background: #704f36; /* Marrón más claro */
}

/* Selección de mapas */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 900px;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}

.image-container:hover h2 {
    display: block;
}
